<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Purchase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="searchpage">

    <nav class="mynav">
        <div class="mylogo"><i class="fas fa-car fa-2x"></i></div>
        <div class="mybrand">FirstRide</div>
        <a href="#" class="mytoggle">
            <span class="mybar"></span>
            <span class="mybar"></span>
            <span class="mybar"></span>
        </a>
        <div class="mylinks">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="dashboard">Dashboard</a></li>
                <li class="currentpage"><a href="carpurchase">Car Purchase</a></li>
                <li><a href="autoservice">Auto Service</a></li>
                <li><a href="carinsurance">Car Insurance</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="login">Log In</a></li>
                <li><a href="cart.html"><i class="fas fa-shopping-cart"></i> Shopping cart</a></li>
            </ul>
        </div>
    </nav>

    <div class="scontainer">
        <h1>Search For a Car</h1>
        <input type="text" placeholder="Car" /><br>
        <input type="text" placeholder="Model" /><br>
        <input type="text" placeholder="Production Year" /><br>
        <input type="text" placeholder="Fuel Type" /><br>
        <button>Search</button>
    </div>

</body>

</html>